@font-face {
  font-family: "bold";
  src: url("fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "bold-italic";
  src: url("fonts/OpenSans-BoldItalic.ttf");
}
@font-face {
  font-family: "extra-bold";
  src: url("fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "extra-bold-italic";
  src: url("fonts/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "italic";
  src: url("fonts/OpenSans-Italic.ttf");
}
@font-face {
  font-family: "light";
  src: url("fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "light-italic";
  src: url("fonts/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: "medium";
  src: url("fonts/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "medium-italic";
  src: url("fonts/OpenSans-MediumItalic.ttf");
}
@font-face {
  font-family: "regular";
  src: url("fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "semi-bold";
  src: url("fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "semi-bold-italic";
  src: url("fonts/OpenSans-SemiBoldItalic.ttf");
}

body {
  font-family: "regular";
}
