.lobby-list-item {
  // interaction
  &--locked,
  &--name,
  &--players {
    cursor: pointer;
  }

  @if $debug {
    border: 1px solid darkcyan;
    box-sizing: border-box;

    & > * {
      border: 1px solid darkgreen;
      box-sizing: border-box;
    }
  }
}
