.browse {
  display: grid;
  grid-template-rows: 0fr auto;

  height: 100vh;

  .top-menu {
    z-index: 1;
  }
  .content {
    z-index: 0;
  }
  .smoke {
    z-index: -1;
  }

  .content {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  &--list {
    padding: 2em;
    height: 100%;
  }

  &--details {
    height: 100%;
  }

  .smoke {
    position: absolute;

    border-radius: 50%;
    filter: blur(40px);

    @keyframes animationSmoke {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-2000px);
      }
    }

    &.small {
      height: 40px;
      width: 40px;
      animation: animationSmoke 200s linear infinite;
    }

    &.medium {
      width: 80px;
      height: 80px;
      animation: animationSmoke 400s linear infinite;
    }

    &.large {
      width: 120px;
      height: 120px;
      animation: animationSmoke 600s linear infinite;
    }
  }

  &--title {
    font-family: "bold";
    font-size: 48px;
    text-transform: uppercase;
  }
}
