$background: #000000;
$dark: #1c2028;
$highlight: #26ffdf;
$light: #b4bebd;
$scroll-background: #595d5c;
$scroll-foreground: #a4a7a7;

.theme-dark {
  &.app {
    background-color: #000000;
    color: $light;
  }

  .browse {
    &--title {
      color: $highlight;
    }

    &--details {
      background-color: rgba($color: #002020, $alpha: 0.85);
    }

    &--content {
      background: radial-gradient(ellipse at bottom, #001113 0%, #000402 100%);
    }

    &--smoke {
      @function multiple-box-shadow($n, $color) {
        $value: "#{random(2000)}px #{random(2000)}px #{$color}";
        @for $i from 2 through $n {
          $value: "#{$value} , #{random(2000)}px #{random(2000)}px #{$color}";
        }
        @return unquote($value);
      }

      &.small {
        box-shadow: multiple-box-shadow(700, #0d5e52);
      }

      &.medium {
        box-shadow: multiple-box-shadow(200, #043936);
      }

      &.large {
        box-shadow: multiple-box-shadow(100, #01171b);
      }
    }
  }

  .host {
    &--input {
      border-color: $highlight;
      color: $highlight;
    }

    &--label {
      color: $light;
    }

    &--submit {
      border-color: $highlight;
      color: $highlight;
    }

    &--title {
      color: $highlight;
    }
  }

  .top-menu {
    background-color: $background;

    a {
      background-color: $dark;
      color: $light;
    }

    a.active {
      background-color: $highlight;
      color: $dark;
    }
  }

  .server-details {
    &--title {
      color: $highlight;
    }

    &--host {
      color: $highlight;
    }

    &--action {
      border-color: $highlight;
      color: $highlight;
    }

    &--modifier {
      background-color: #00100f;
    }
  }

  .server-list {
    &--load-more {
      border-color: $highlight;
      color: $highlight;
    }

    &--scrolling {
      & {
        scrollbar-color: $scroll-foreground $scroll-background;
      }

      &::-webkit-scrollbar-track {
        background: $scroll-background;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $scroll-foreground;
        border-color: $scroll-foreground;
      }
    }

    &--body .server-list-item {
      &:nth-child(2n - 1) {
        background-color: rgba($color: $light, $alpha: 0.025);
      }

      &.selected {
        background-color: $highlight;
        color: $dark;
      }
    }
  }

  .server-list-item {
    &--players,
    &--locked {
      border-left-color: rgba($light, 0.1);
    }
  }
}
